---
layout: default
bodyclass: author
---

<section id="about">
    <div style="text-align:center;">
        {% assign author = site.data.authors[page.author] %}
        <div><img src={{ author.avatar }} style="border-radius:50%; float:none; width:200px; height:200px; display: block; margin:auto;"> </img></div>
        {{ author.description }}
    </div>
</section>

<section id="allposts">
    <div>
        <hr class="large title">
        <h1>All Posts</h1>
        <ul class="index">
            {% assign posts=site.posts | where:"lang", page.lang | where:"type", posts %}
            {% for post in posts %} 
            {% if post.author == page.author %}
            <li class="{{ post.author }}">
            <a href="{{ post.url }}">
                    <h2>{{ post.title | replace: '<br>', '' }}</h2>
                    <time datetime='{{ post.date | date: "%Y-%m-%d" }}'>{% include date.html date=post.date %}</time>

             </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>

<section id="categories">
   {% assign sortedcats = site.categories | sort %}
   {% for category in sortedcats %}
        <div class="catbloc" id="{{ category | first | remove:' ' }}">
            <hr class="large title">
            <h1>{{ category | first }}</h1>

            <ul class="index">
              {% for posts in category %}
                {% for post in posts %} 
                {% if post.url %}
                {% if post.author == page.author%}
                <li class="{{ post.author }}">
                    <a href="{{ post.url }}">
                    <h2>{{ post.title | replace: '<br>', '' }} {% if post.link %}<span class="oi" data-glyph="external-link" style="color:#888; font-size:50%;"></span>{% endif %}</h2>
                    <time class="top" datetime='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date: "%-d %B %Y" }}</time>
                    </a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
              {% endfor %}
            </ul>
        </div>
   {% endfor %}
</section>

<style type="text/css">
    .no-display {
        display: none;
    }

    .{{ page.url | replace:'/', '' }} {
        display: inherit;
    }
</style>

<script type="text/javascript">
    if(document.getElementById("allposts").getElementsByClassName("{{ page.author }}").length == 0) {
        document.getElementById("allposts").innerHTML = "<div><h1>No Posts Yet!</h1></div>";
    }

    if(document.getElementById("categories").getElementsByClassName("{{ page.author }}").length == 0) {
        document.getElementById("categories").className = "no-display";
    }

    {% assign sortedcats = site.categories | sort %}
    {% for category in sortedcats %}
        if(document.getElementById("{{ category | first | remove:' ' }}")
            .getElementsByClassName("{{ page.author }}").length == 0) {
            document.getElementById("{{ category | first | remove:' ' }}").className = "no-display";
        }
    {% endfor %}
</script>