<!DOCTYPE html>
<html>
  <head>
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <title>
    {% if page.title %}
	       {{ page.title | replace:'&nbsp;',' ' | strip_html | escape }}
           {% unless page.bodyclass == "home" %} - {{ site.title }} {% endunless %}
    {% else %}
	       {{ site.title }}
    {% endif %}
    </title>
    
    {% if page.description %}
    <meta name="description" content="{{ page.description | escape }}">
    {% else %}
    <meta name="description" content="{{ site.description | escape }}">
    {% endif %}
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="alternate" type="application/rss+xml" title="Schoewilliam.fr RSS (EN posts)" href="/feed.xml">

    <meta name="author" content="{{ site.author }}">
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    {% if page.headimg_url %}
    <style>
        body:before {
            background-image: none;
            background-position: center center;
            opacity: .4;
        }
        body>aside>#bg-wrapper {
            content: " ";
            position: relative;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            background: url({{page.headimg_url}}) left center / cover #222;
            z-index: -1;
            opacity: .4;
        }
    </style>
    {% endif %}
  </head>
  
  <body {% if page.bodyclass %}class="{{ page.bodyclass }}"{% endif %}>
    {% if page.bodyclass == "home" %}{% include page-preloader.html %}{% endif   %}
  
    <header>
        <div class="left">
            <a onclick="document.querySelector('body > aside').classList.toggle('nav-shown'); document.querySelector('.menu').classList.toggle('shown');" class="menu">
                <span class="mega-octicon octicon-three-bars">
                </span>
            </a>
            {% unless page.bodyclass == "home" %}
            <a href="/" class="small-site-title">reify</a>
            {% else %}
                <a href="http://twitter.com/reifycode" class="social twitter" title="Twitter Profile"></a>
                <a href="http://github.com/reifycode" class="social github"><span class="mega-octicon octicon-mark-github" title="Github Profile"></span></a>
            {% endunless %}
        </div>
        <div class="right">
            {% if page.bodyclass == "archive" %}{% include cat-selector.html %}{% endif %}
            {% assign altlang=site.posts | where:"date", page.date | sort: 'path' %}
            {% for post in altlang %}   
            {% endfor %}
        <a title="{{ site.data.translations.lights }}" class="lights">
                <span class="mega-octicon octicon-light-bulb">
            </span>

        </a>


        </div>
    </header>

    <aside>
    	<div id="bg-wrapper"></div>
        <div class="book-title">
            {% if page.bodyclass == "home" %}
            <object data="/images/logo.svg" type="image/svg+xml"></object>
            {% else %}
                <h1>{{ page.title }}</h1>
            {% endif %}
        </div>

        {% include nav.html %}

        <nav id="prevnext">
           {% unless page.bodyclass == "post" %}
              {% if page.navigation %}
               <span class="thispage">{{ site.data.translations.onthispage }}</span>
                {% for link in page.navigation %}
                    <a data-scroll href="{{ link.url }}">{{ link.title }}</a>
                {% endfor %}
              {% endif %}
           {% else %}
                {% if page.previous %}
                    <a class="prev" title="{{ page.previous.title }}" href="{{ page.previous.url }}">
                        {{ site.data.translations.previouspost }}
                    </a>
                {% endif %}

                {% if page.next %}
                    <a class="next" title="{{ page.next.title }}" href="{{ page.next.url }}">
                        {{ site.data.translations.nextpost }}
                    </a>
                {% endif %}
           {% endunless %}
        </nav>
    </aside>


    <!-- Page content -->
    {{ content }}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71545031-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script src="/js/nightmode.js" type="text/javascript"></script>
    <script src="/js/smooth-scroll.js" type="text/javascript"></script>

    {% include piwik.html %}
  </body>
</html>
