<!DOCTYPE HTML>
  <head>
    <title>
      Our porgress
    </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/progress-style.css">
  </head>
  <body>
    <h2>Our Porgress</h2>
    <ul id='timeline'>
      <li class='work'>
        <input class='radio' id='work5' name='works' type='radio' checked>
        <div class="relative">
          <label for='work5'>Our website goes live !! </label>
          <span class='date'>20 December 2015</span>
          <span class='circle'>
          </span>
        </div>
        <div class='content'>
          <p id="dialog">
            reifycode goes live.
          </p>
        </div>
      </li>
    </ul>
    <object data="/images/logo-progress.svg" type="image/svg+xml"></object>
 </body>
</html>